@model object

<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">ANA MENÜ</li>
        <li class="active">
            <a href="/Home">
                <i class="material-icons">home</i>
                <span>Anasayfa</span>
            </a>
        </li>
        <li>
            <a href="/Menu">
                <i class="material-icons">menu</i>
                <span>Menü Yönetimi</span>
            </a>
        </li>
        <li>
            <a href="/Post">
                <i class="material-icons">line_style</i>
                <span>İçerik Yönetimi</span>
            </a>
        </li>
        <li>
            <a href="/Post">
                <i class="material-icons">person_outline</i>
                <span>Kullanıcı Yönetimi</span>
            </a>
        </li>
        <li class="header">SİSTEM</li>
        <li>
            <a href="/Setting">
                <i class="material-icons">settings</i>
                <span>Ayar Yönetimi</span>
            </a>
        </li>
        <li>
            <a href="/FileManager">
                <i class="material-icons">folder</i>
                <span>Dosya Yöneticisi</span>
            </a>
        </li>
    </ul>
</div>
<!-- #Menu -->